.hero {
    background-color: #8e44ad;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

#maintemp {
    font-size: 200px;
}
.mainsym
{
    font-size: 120px;
}
.typebutton{
    align-items: baseline;
}

.hero .typebutton{

       position: relative;
   
    bottom: 113px;

}

.mainsym .wi{

    position: relative;
    bottom: 91px;
}



@media screen and (max-width: 550px){
.mainsym .wi {
    position: relative;
    bottom: 49px;
     right: 0; 
    font-size: 59px;
}

#maintemp {
    font-size: 96px;
}

.mainsym {
    font-size: 48px;
}

.hero .typebutton {
    position: relative;
    bottom: 59px;
   left: 0px; 
}


}

